#navbar {
    background-color: #000000;
    position: fixed;
    border: 10px;
    z-index: 10;
}
.nav-link{
    color: red;
}
#home-titels {
    border: 1000px;
    background-color:#848484;
    color: #ffffff;
    padding-left: 100px;
    ;
}

#img1 {
    width: 650px;
    padding-right: 200px;
    padding-top: 25px;
}

main.container-fluid {
    padding-top: 100px;
}


body{
    font-family: 'Montserrat Alternates';

}
#footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
    background-color: black;
    color: red;
}


div.navbar-collapse {
    justify-content: space-between;
}

div.navbar-collapse {
    justify-content: space-between;
}

.topnav-right {
    float: right;
}