#navbar {
    background-color: #000000;
    position: fixed;
    border: 10px;
    z-index: 10;
}
#nav-item {
    color: red;
    background-color: red;
}
#home-titels {
    border: 1000px;
    background-color:#848484;
    color: #ffffff;
    ;
}


main.container-fluid {
    padding-top: 100px;
}

h1:first-of-type {
    padding-top: 10px;
}

body{
    font-family: 'Montserrat Alternates';
}